# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml

# Local User Data (Prevent accidental pushes of sensitive headers)
header.txt
scammer.txt
forensic_report_*.txt

# Python Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# OS / IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp